.PersonRow{
  width: 100%;
  display: grid;

  grid-template-columns: 10% 20% 15% 20% 15%;
  grid-template-rows: auto;
  margin-bottom: 5px;
}

.page-navigation{
  margin-left: 40%;

  & > button{
    height: 50px;
    width: 50px;
  }
}

.table-header{
  width: 100%;
  display: grid;

  grid-template-columns: 10% 20% 15% 20% 15%;
  grid-template-rows: auto;
}

.header-flex{
  display: flex;
  align-items: baseline;
  gap: 20%;
  margin-top: 8px;
}