.task,
.headers{
  display: grid;
  grid-template-columns: 10% 40% 15% 20%;
  grid-template-rows: 50px;
  column-gap: 5%;
}

.page-navigation-tasks{
  margin-left: 50%;

  & > button{
    height: 50px;
    width: 50px;
  }
}